.product-list {
    padding-top: 20px;
}
.product-list .single-product-wrap {
    margin-bottom: 40px;
}

.product-list .single-product-wrap:hover {
    padding-bottom: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: none;
}

.product-list .add-actions-link {
    width: 100%;
}

.product-list .add-actions-link li.add-cart,
.product-list .add-actions-link li {
    float: none;
}

.product-list .single-product-wrap:hover .add-actions {
    bottom: 105px;
}

.product-list .add-actions {
    bottom: 110px;
    transition: opacity 0.3s ease-in-out;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50&0+0,1+100 */
    background: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.product-list .add-actions-link .add-cart,
button.add-to-cart {
    cursor: pointer;
}

.page-title {
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 1.28em;
    font-weight: 600;
}

.page-title + table.table {
    margin-top: 12px;
}

.user-account-left .media div:first-child {
    margin-top: -23%;
}

.user-account-right {
    padding-top: 12px;
}

.table-user-order .product-thumb {
    width: 15%;
    max-width: 120px;
}



